<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Survey" lan="LAN_PLUGIN_SURVEY_NAME" version="2.0" date="2017-05-25" compatibility="2.0" installRequired="true" >
	<author name="in development" url="in development" />
	<summary lan="">This plugin is designed to allow the site admin to configure surveys for their site.</summary>
	<description lan="">This plugin is designed to allow the site admin to configure surveys for his / her site.</description>
	<keywords>
		<word>stats</word>
		<word>survey</word>
		<word>forms</word>
	</keywords>
	<category>content</category>
	<copyright>e107</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='xxx'>xxx</pref>
	</pluginPrefs>
</e107Plugin>